.clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* {
  box-sizing: border-box;
}
body {
  background: #1c1f21;
  color: #ffffff;
  font-family: 'Guardian Sans Cond', Tahoma, 'Trebuchet MS', TrebuchetMS, sans-serif;
  font-size: 16px;
  padding-top: 40px;
}
textarea,
input,
button {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
textarea,
input {
  outline: none;
}
input[type=url] {
  color: #3c3c3c;
  font-family: 'Guardian Sans Cond', Tahoma, 'Trebuchet MS', TrebuchetMS, sans-serif;
  font-size: 12px;
  border-radius: 0;
  background-color: #FFF;
  padding: 13px;
  margin-bottom: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
}
button {
  background: #e33a95;
  color: #ffffff;
  border: 0 none;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-family: 'Guardian Sans Cond', Tahoma, 'Trebuchet MS', TrebuchetMS, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  padding: 7px 10px;
  margin: 0;
  text-transform: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}
section {
  margin-bottom: 20px;
}
section h2 {
  background: #268dce;
  text-transform: uppercase;
  font-size: 19.2px;
  padding: 16px;
}
.timeline {
  overflow: hidden;
  width: 100%;
  background: #fff;
  color: #333;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.timeline > .dropzone {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  min-height: 50px;
  overflow: hidden;
  -webkit-transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}
.timeline > .dropzone:empty:before {
  content: "Drag images here";
}
.timeline figure {
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100px;
  min-width: 130px;
  min-height: 130px;
  border: 3px dotted transparent;
}
.timeline figure .asset {
  width: 130px;
  height: 130px;
}
.timeline figure > img {
  width: 100%;
}
.timeline figure > figcaption {
  width: 100%;
}
.timeline figure > figcaption > input {
  width: 100%;
}
.timeline figure.placeholder {
  width: 20px;
  margin: 10px 0;
  min-width: 20px;
}
.timeline figure.flex {
  flex: 1 1 auto;
  text-align: center;
  color: #aaa;
}
.timeline figure.flex:after,
.timeline figure.flex:before {
  display: inline-block;
  vertical-align: middle;
}
.timeline figure.flex:before {
  content: "";
  height: 100px;
}
.timeline figure.flex:after {
  content: "DROPZONE";
}
.timeline figure.dragenter {
  border-color: #54E054;
  color: #54E054;
}
.timeline .controls {
  opacity: 0.8;
}
.timeline .controls .prev,
.timeline .controls .next {
  position: absolute;
  left: 0;
  top: 30%;
  background: #000;
  color: #fff;
  padding: 10px;
}
.timeline .controls .next {
  left: auto;
  right: 0;
}
.timeline .controls .discard {
  font-size: 19.2px;
  color: #000;
  position: absolute;
  bottom: 5px;
  right: 5px;
  /*&:before{
				content:'\2715';
			}*/
}
.timeline .controls .discard.dragenter {
  background-color: red;
  color: white;
}
.timeline .controls .discard.dragenter:after {
  content: "Remove item from list";
}
.popup {
  position: fixed;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: white;
  color: black;
  box-shadow: 0 0 100px black;
}
.popup > .close {
  position: absolute;
  top: -1em;
  right: -1em;
  background-color: black;
  color: white;
}
.popup > .close:before {
  content: '\2715';
}
@media all and (max-width: 960px) {
  body {
    padding: 0 20px 20px 20px;
  }
  .container {
    width: 100%;
  }
}
