<html ng-app="timeslides">

	<head>
		<link rel="stylesheet" href="css/style.css"/>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>
		<script src="controller.js"></script>
		<script src="timeline.js"></script>
	</head>

	<body ng-controller="app">
		<div class="container">
			<section>
				<h2>Search images</h2>
				<form ng-submit="findImages()">
					<input type="url" ng-model="url" placeholder="Find images"/>
					<button type="submit">Search</button>
				</form>
			</section>

			<section>
				<h2>Images</h2>
				<!-- Loop through images and provide drag and drop -->
				<timeline frames="images" selected="addToTimeline"></timeline>
			</section>

			<section id="timeline">
				<h2>Timeline</h2>

				<timeline frames="timeline"></timeline>

				<button ng-click="submit()">Make movie</button>

			</section>
		</div>


		<div ng-view></div>

	</body>
</html>